@use "vars";

//SCROLLING
.maputnik-scroll-container {
  overflow-x: hidden;
  overflow-y: scroll;
  bottom: 0;
  left: 0;
  right: 0;
  top: 1px;
  position: absolute;
}

//APP LAYOUT
.maputnik-layout {
  font-family: vars.$font-family;
  color: vars.$color-white;

  //图层列表
  &-list {
    position: fixed;
    bottom: 0;
    height: calc(100% - #{vars.$toolbar-height + vars.$toolbar-offset});
    top: vars.$toolbar-height + vars.$toolbar-offset;
    left: 5px;
    z-index: 3;
    width: 245px;
    background-color: vars.$color-black;
  }

  //图层配置
  &-drawer {
    position: fixed;
    bottom: 0;
    height: calc(100% - #{vars.$toolbar-height + vars.$toolbar-offset});
    top: vars.$toolbar-height + vars.$toolbar-offset;
    left: 250px;
    z-index: 1;
    width: 370px;
    background-color: vars.$color-black;
  }

  //图层列表
  &-list-mini {
    position: fixed;
    bottom: 0;
    height: calc(100% - #{vars.$toolbar-height + vars.$toolbar-offset});
    top: vars.$toolbar-height + vars.$toolbar-offset;
    left: 5px;
    z-index: 1;
    width: 245px;
    background-color: vars.$color-black;
  }

  //图层配置
  &-drawer-mini {
    position: fixed;
    bottom: 0;
    height: calc(100% - #{vars.$toolbar-height + vars.$toolbar-offset});
    top: vars.$toolbar-height + vars.$toolbar-offset;
    left: 250px;
    z-index: 1;
    width: 370px;
    background-color: vars.$color-black;
  }

  &-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: vars.$layout-map-width;
    background-color: vars.$color-black;
  }
}
